
@{
    ViewBag.Title = "Arena";
}
@model PaperScissorStone1.Models.ArenaViewModel
<style>
    throw_option { }
    selected_throw { color: green }
</style>
<h2>Arena</h2>
<button id="start" class="btn animated rubberBand">Start</button>
<br />
<div class="container">
    <button id="paper" class="btn animated rubberBand throw_option" onclick="onclickThrow('paper')">Paper</button>
    <button id="scissor" class="btn animated rubberBand throw_option" onclick="onclickThrow('scissor')">Scissor</button>
    <button id="stone" class="btn animated rubberBand throw_option" onclick="onclickThrow('stone')">Stone</button>
</div>
<br />
<div>
    <h4 btn animated tada" id="countdown"></h4>
</div>
<div>
    <button id="quit" class="btn" onclick="onclickQuit()">Quit</button>
</div>
@section scripts {
<script src="~/Scripts/jquery.signalR-2.1.2.min.js"></script>
<script src="~/signalr/hubs"></script>

<script>

    $(document).ready(function () {
        arenaUpdate = $.connection.arenaHub;

        arenaUpdate.client.countDown = function (countIn) {
            if ($('#start').prop("disabled") === false)
                countdownStarted();

            $('#countdown').text(countIn.toString());
        };

        arenaUpdate.client.pleaseSubmitThrow = function(gameId) {
            var myOption = $('.selected_throw');

            var selectedThrow = '';
            if (myOption.length == 1)
                selectedThrow = myOption.text();

            arenaUpdate.server.submitThrow(@Model.GameId, @Model.MyId, selectedThrow);
        };
        arenaUpdate.client.roundResults = function(winnerId, displayResult) {
            $('#countdown').text(displayResult);
            $('#start').text('Next');
            newRound();
        };
        $.connection.hub.start().done(function () {
            arenaUpdate.server.joined(@Model.GameId, @Model.MyId);
            // auto remove ourselves from the lobby
            window.onbeforeunload = function (e) {
                arenaUpdate.server.leftArena(@Model.GameId, @Model.MyId);
            };

            $('#start').click(function () {
                arenaUpdate.server.startRound(@Model.GameId, @Model.MyId);
                countdownStarted();
            });
            newRound();
        });
    });

    function countdownStarted() {
        $('#countdown').text('');
        $('#start').prop( "disabled", true );
        $('.throw_option').prop( "disabled", false );
        $('throw_option').removeClass('selected_throw');
    }

    function newRound() {
        $('#start').prop( "disabled", false );
        $('.throw_option').prop( "disabled", true );
        $('.throw_option').removeClass('selected_throw');
    }

    function onclickThrow(buttonId) {
        $('.throw_option').removeClass('selected_throw');
        $('#' + buttonId).addClass('selected_throw');
    }
</script>
}

